



.contact__content  {
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 100px ; 
    background: #4189DD;
}
.heading {
    margin-top: 30px;
}
.links {
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 500px;
}