header {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: calc(1em + 1vw) 0;
}
header h1 {
    grid-column: 2/2;
}
nav {
    display: flex;
    justify-content: flex-end;
    grid-column: 6 / 12;
}
nav a {
    margin-left: 40px;
    font-size: 1rem;
    text-transform: lowercase;

}